:root {
  --background-color: white ;
  --gray-900: #0B0F19;
  --gray-800: #33354D;
  --gray-700: #565973;
  --gray-600: #9397AD;
  --gray-500: #B4B7C9;
  --gray-400: #D4D7E5;
  --gray-300: #E2E5F1;
  --gray-200: #EFF2FC;
  --gray-100: #F3F6FF;
  --primary-color: #6366F1;
  --success-color: #22C55E ;
  --transiton-hover: 0.5s ease-in-out;
}

[data-theme="light"] .show-light {
  display: block;
}
[data-theme="light"] .show-dark {
  display: none;
}

[data-theme="dark"] {
  background-color: #0B0F19 ;
  --gray-900: #fff;
  --gray-800: #fff;
}

[data-theme=dark] .show-light {
  display: none;
}
[data-theme=dark] .show-dark {
  display: block;
}

.navbar {
  .navbar-links {
    color: var(--gray-800);
    &:hover,
    &:focus {
      color: var(--primary-color);
      transition: var(--transiton-hover)
    }
  }
  .dark-mode-text{
    color: var(--gray-700);
  }
  .btn-mobile {
    display: none;
    background-color: transparent;
    border: 0;
    font-size: 1.7rem;
    cursor: pointer;
    @media (width <= 992px) {
        display: block!important;
    }
      @media (width <= 576px) {
        margin-left: 0;
    }
  }
}
